/** CuiBono CSS **/

body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #777777;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: lowercase;
	font-family: Georgia, "Times New Roman", Times, serif;
	/*font-style: italic; */
	font-size: 2em;
	margin: 0.67em 0;
	font-weight: bold; 
	color: #446EC0;
}

a {
	color: #F47511;
}

a:hover {
	text-decoration: none;
	color: #446EC0;
}

.page {
	width: 778px;
	margin: 0 auto;
}

/** HEADER */

#header {
	padding: 20px 0;
}

#header h1 {
	margin: 0px;
	padding: 0px;
	font-size: 4em;
	color: #F47511;
}

#header h2 {
	margin: 0px;
	padding: 0px;
	font-size: 2em;
	color: #F47511;
}

/** MENU */

#menu {
	border-bottom: 1px solid #CCCCCC;
	
}

#menu ul {
	text-align: right;
	margin-bottom: 2px;
}

#menu li {
	display: inline;
	
}

#menu a {
	padding: 0px 10px;
	border: 1px solid #CCCCCC;
	background-color: #FAFAFA;
	text-decoration: none;
	font-weight: bold;
}
	
#menu a:hover {
	background-color: #446EC0;
	color: #FFFFFF;
}

/** CONTENT */

#content {
}

#content h2 {
	text-transform: uppercase;
	font-style: normal;
	font-size: 1.2em;
	border-bottom: 2px dotted #CCCCCC;
}

#content p {
	padding: 1em 0;
}

#left {
	float: left;
	width: 500px;
}

#right {
	float: right;
	width: 250px;
}

/** FOOTER */

#footer {
	position: absolute;
	bottom:0;
	width: inherit;
}

#footer p {
	padding-top: 1em;
	border-top: 1px solid #CCCCCC;
	text-align: center;
	font-size: small;
	color: #CCCCCC;
}
