{% extends "base.html" %}
{% block content %}

	<h1>About</h1>
	<h2>To whose benefit?</h2>
	<p>CuiBono is a Random Hacks of Kindness project that grew beyond the scope of the weekend hackathon. The team behind the app agreed to continue working on the project, to bring more transparency into politics.</p>
	<p>When you use CuiBono on your Android* device, you can listen to a political ad, submit the recording, and receive journalistic content and facts about the ad and its funders in return.</p>
	<p>Our open-source code is on <a href="https://github.com/cuibono">github</a>.
	<p class="footnote">iOS/iPhone app coming soon.</p>
	
{% endblock %}

