<!DOCTYPE html>

<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>WhoPaid</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<link href="{{ STATIC_URL }}reset.css" rel="stylesheet" type="text/css" />
		<link href="{{ STATIC_URL }}default.css" rel="stylesheet" type="text/css" />
	</head>
		
	<body>
		<div class="page">
			<div id="header">
					{% if user.is_authenticated %}
					<div style="float:right">
					Signed in as {{ user.username }} (<a href="/logout/">logout</a>)
					</div>
					{% endif %}
					<div style="float:right">
					<a href="https://twitter.com/WhoPaidApp" class="twitter-follow-button" data-show-count="false">Follow @WhoPaidApp</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
					</div>
					<h1>WhoPaid </h1>
				<br><br>
			</div>
		
			<div id="menu">
				<ul>
					<li><a href="/">Welcome</a></li>
					<li><a href="/about/">About</a></li>
					<li><a href="/submit/ad/">Submit</a></li>
					<li><a href="/partners/">Partners</a></li>
					<li><a href="/news/">News and Mentions</a></li>
					<li><a href="/contact/">Contact</a></li>
					<li><a href="/team/">Team</a></li>
				</ul>
			</div>
			<div id="content">
				{% block content %}{% endblock %}
			</div>	
			<div id="footer">
				<p>Copyright &copy; 2012 WhoPaid</p>
			</div>
		</div>
	</body>
</html>

