<!DOCTYPE html>

<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>CuiBono</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<link href="{{ STATIC_URL }}reset.css" rel="stylesheet" type="text/css" />
		<link href="{{ STATIC_URL }}default.css" rel="stylesheet" type="text/css" />
	</head>
		
	<body>
		<div class="page">
			<div id="header">
				<h1>CuiBono </h1>
			</div>
		
			<div id="menu">
				<ul>
					<li><a href="{{ STATIC_URL }}">Welcome</a></li>
					<li><a href="{{ STATIC_URL }}about/">About</a></li>
					<li><a href="{{ STATIC_URL }}submit/ad/">Submit</a></li>
					<li><a href="{{ STATIC_URL }}partners/">Partners</a></li>
					<li><a href="{{ STATIC_URL }}news/">News and Mentions</a></li>
					<li><a href="{{ STATIC_URL }}contact/">Contact</a></li>
					<li><a href="{{ STATIC_URL }}team/">Team</a></li>
				</ul>
			</div>
			<div id="content">
				{% block content %}{% endblock %}
			</div>	
			<div id="footer">
				<p>Copyright &copy; 2012 cuibono</p>
			</div>
		</div>
	</body>
</html>

