{% extends "base.html" %}
{% block content %}

        <div id="content">

                <h1> Cuibono </h1>
                <h2> To whose benefit? </h2>
		                
         	<p>A team that gathered at Random Hacks of Kindness has continued to work on this project. 
		Team members include: </p>

		<strong><a href="https://plus.google.com/104529297658810068493/about"> Jim Snavely </a> </strong>
		"Jim Snavely lives in Philadelphia where he writes software for the
		web and mobile devices. When he's not compulsively writing code,
		he amuses himself by getting in over his head in math, science and
		history, and then patiently explaining these topics to his dog, who
		listens dutifully."
        </div>

{% endblock %}
