{% extends "base.html" %}
{% block content %}

    <h1>Team</h1>
    <p>A team that gathered at Random Hacks of Kindness Philadelphia has continued to work on this project. 
    Team members include: </p>
    
    <p><strong><a href="https://github.com/boblannon">Bob Lannon</a></strong></p>
    
    <p>Bob Lannon is skilled in the ways of Natural Language Processing-fu and automated information extraction. He is on Twitter <a href="http://twitter.com/boblannon">@boblannon</a>.</p>
    
    <p><a href="https://twitter.com/boblannon" class="twitter-follow-button" data-show-count="false">Follow @boblannon</a></p>

    <p>Erika Owens is a journalist working at the intersection of technology and news.
    She is an organizer for <a href="http://www.meetup.com/HacksHackersPhilly/">Hacks/Hackers Philadelphia</a>
    and is on Twitter <a href="http://twitter.com/erika_owens">@erika_owens</a>.</p>
    
    <p><a href="https://twitter.com/erika_owens" class="twitter-follow-button" data-show-count="false">Follow @erika_owens</a></p>

    <p><strong><a href="#">Erika Owens</a></strong></p>
    
    <p>Erika Owens is a journalist working at the intersection of technology and news.
    She is an organizer for <a href="http://www.meetup.com/HacksHackersPhilly/">Hacks/Hackers Philadelphia</a>
    and is on Twitter <a href="http://twitter.com/erika_owens">@erika_owens</a>.</p>
    
    <p><a href="https://twitter.com/erika_owens" class="twitter-follow-button" data-show-count="false">Follow @erika_owens</a></p>

    <p><strong><a href="http://thewebivore.com">Pam Selle</a></strong></p>
    
    <p>Pam Selle is a developer and all-around nerd who's passionate about doing awesome things and doing them well.
    You can find her online at <a href="http://thewebivore.com">thewebivore.com</a>, <a href="http://queenofthevillage.com">queenofthevillage.com</a>, and <a href="http://twitter.com/pamasaur">@pamasaur</a>.</p>
    
    <p><a href="https://twitter.com/pamasaur" class="twitter-follow-button" data-show-count="false">Follow @pamasaur</a></p>

    <p><strong>Jake Richter</strong></p>
    
    <p>Jake Richter is a dragon and Pythonista.</p>
    
    <p><a href="https://twitter.com/jprichter" class="twitter-follow-button" data-show-count="false">Follow @jprichter</a></p>

    <p><strong><a href="https://plus.google.com/104529297658810068493/about">Jim Snavely</a></strong></p>
    
    <p>Jim Snavely lives in Philadelphia where he writes software for the
    web and mobile devices. When he's not compulsively writing code,
    he amuses himself by getting in over his head in math, science and
    history, and then patiently explaining these topics to his dog, who
    listens dutifully.</p>
    
    <p><a href="https://twitter.com/ludflu" class="twitter-follow-button" data-show-count="false">Follow @ludflu</a></p>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

{% endblock %}
