{% extends "base.html" %}
{% block content %}
	<div id="content">
		
		<h1> Money Talks </h1>
		<p> A wise person once said, "Follow the money, always 
		follow the money." We wanted to make that a little easier 
		and help citizens get more informed on who is paying for the
		political ads you see and hear. That's why we created an app
		that lets you press a button on your smartphone and viola! 
		now you know the SuperPAC behind it all and have easy access 
		to helpful links for journalistic analysis on the ad you 
		just saw.  
		</p>
				
	</div>
{% endblock %}
